version: '3.9'

services:
  db:
    image: postgres
    container_name: db
    env_file:
      - ./src/${PROJECT_NAME}/.env
    ports:
        - "${EXT_POSTGRES_PORT-5432}:5432"
    volumes:
      - ./docker/db/data:/var/lib/postgresql/data
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    tty: true
    command: ${RUN_COMMAND}
    ports:
      - "8000:8000"
    volumes:
      - ./src:/home/src
    depends_on:
       - db